html{
  font-family: 'Montserrat', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.hide{
  transform: translate(0,-135px);
}
header{
  transition: .5s;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.7)
}
header h1{
  font-size: 16px;
}
header p{
  margin: 3px 10px;
  font-size: 12px;
}
svg{
  width: 80vw;
  height: 60vh;
}
g.tick line{
  stroke: purple;
  stroke-width: 2px;
}
#chart circle{
  fill: orange;
  stroke: purple;
  transition: .2s;
}
#chart circle:hover{
  r: 10;
  fill: white;
}
form{
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
input[type=checkbox]{
  width: 20px;
  height: 20px;
}

#overlay{
  width: 200px;
  height: 400px;
  background: rgba(0,0,0,0.6);
  position: fixed;
  border-radius: 20px;
  transition: .2s;
}
#open{
  margin-bottom: 20px;
  background: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid 1px black;
  transition: .2s;
  text-transform: uppercase;
  cursor: pointer;
}
#open:hover{
  background: rgba(0,0,0,0.2);
}
.close{
  width: 50px;
  height: 50px;
  left: 0;
  border-radius: 50%;
  background: none;
  border: white solid 1px;
  color: white;
  margin: 4px;
  position: fixed;
  top: 0;
  transition: .25s;
  cursor: pointer;
}
.close:hover{
  background: white;
  color: black;
}
