body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
svg{
  width: 80vw;
  height: 60vh;
}
g.tick line{
  stroke: purple;
  stroke-width: 2px;
}
#chart circle{
  fill: orange;
  stroke: purple;
  transition: .2s;
}
#chart circle:hover{
  r: 10;
  fill: white;
}
form{
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
input[type=checkbox]{
  width: 20px;
  height: 20px;
}
.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
